version: '3.8'

services:

  firstquery_db:
    image: redis
    container_name: firstquery_db
    ports:
      - 7010:6379
    command: >
      --requirepass 123456


  secondquery_db:
    container_name: secondquery_db
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=mongoadmin
      - MONGO_INITDB_ROOT_PASSWORD=123456
    ports:
      - 7020:27017
    volumes:
      - mongo_data:/data/db


  eventstore_db:
    container_name: eventstore_db
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin1234
    restart: always
    ports:
      - 7000:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data/


  eventbus:
    container_name: eventbus
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin1234
    restart: always
    ports:
        - "5672:5672"
        - "15672:15672"


  command_api:
    image: command_api:1.0
    container_name: command_api
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:5000
    ports:
      - 5000:5000


  secondaryquery_api:
    image: secondaryquery_api:1.0
    container_name:  secondaryquery_api
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:5010
    ports:
      - 5010:5010

  firstquery_api:
    image: firstquery_api:1.0
    container_name:  firstquery_api
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:5020
    ports:
      - 5020:5020
